header {
    width: 100%;
    height: 100vh;
    background-image: url('../img/desktop/image-hero.jpg');
}

.div-hamburger {
    display: none;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
}

.nav img {
    margin-left: 80px;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    
}

.nav ul li {
    font-style: none;
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    margin-right: 80px;
    font-size: 20px;
    border-bottom: 2px transparent solid;
}

.nav ul li a:hover {
    border-bottom: 2px white solid;
}

#close {
    display: none;
}

.experiencia {
    width: 450px;
    color: white;
    margin: auto;
    transform: translate(-85% , 100%);
    border: 2px solid white;
}

.experiencia h1 {
    font-size: 50px;
    padding: 10px;
}

@media screen and (max-width: 375px) {
    header {
        background-image: url('../img/mobile/image-hero.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .experiencia {
        width: 70%;
        transform: translate(0%, 100%);
        margin-left: auto;
        margin-right: auto ;
        margin-top: 80px;
        border: 2px solid white;
    }
    
    .experiencia h1 {
        font-size: 30px;
        padding: 10px;
    }

    .div-hamburger {
        display: flex;
        float: right;
        margin-top: 45px;
        margin-right: 10px;
        cursor: pointer;
    }

    #menu {
        display: none;
        background-color: black;
        margin-top: 150px;
        margin-left: 30px;
        padding: 5px;
    }

    .nav ul{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        gap: 20px;
    }

    #close{
       text-align: center;
       display: block;
    }

    .nav img {
        margin-left: 20px;
    }

}
