.section-leader {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.leader-img{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 75px;
}

.leader-imagem {
    background-image: url('../img/desktop/image-interactive.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 731px;
    height: 500px;
}

.leader-texto {
    width: 500px;
    height: 300px;
    background-color: white;
    padding: 50px;
    margin-top: 20%;
    margin-left: -100px;
}

.leader-texto h2 , .creations-texto h2{
    font-size: 40px;
}

.leader-texto p{
    font-size: 20px;
    text-align: left;
}

.creations {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.creations-texto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 72px;
    margin-right: 72px;
}

.creations-texto p {
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
}


.creations-img {
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 60px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 100px;
   justify-content: center;
}

.creations-img p{
    color: white;
    font-size: 25px;
    margin-top: 350px;
    margin-left: 20px;
    width: 120px;
}

.deep-earth, .arcade, .soccer, .grid , .above, .borealis, .curiosity, .fisheye{
    width: 256px;
    height: 450px;
    cursor: pointer;
}

.deep-earth {
    background-image: url('../img/desktop/image-deep-earth.jpg');
}

.arcade {
    background-image: url('../img/desktop/image-night-arcade.jpg');
}

.soccer {
    background-image: url('../img/desktop/image-soccer-team.jpg');
}

.grid {
    background-image: url('../img/desktop/image-grid.jpg');
}

.above {
    background-image: url('../img/desktop/image-from-above.jpg');
}

.borealis {
    background-image: url('../img/desktop/image-pocket-borealis.jpg');
}

.curiosity {
    background-image: url('../img/desktop/image-curiosity.jpg');
}

.fisheye {
    background-image: url('../img/desktop/image-fisheye.jpg');
}

.creations-img div:hover, .creations-texto p:hover {
    opacity: 0.5;
}

@media screen and (max-width: 350px) {
    .section-leader {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .leader-img{
        margin-left: auto;
        margin-right: auto;
        border-style: none;
    }

    .leader-imagem {
        background-image: url('../img/mobile/image-interactive.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 350px;
        height: 448px;
        
        /*width: 654px;
        height: 448px;*/
    }
    
    .leader-texto {
        width: 100%;
        height: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .leader-texto h2 , .creations-texto h2{
        font-size: 30px;
        text-align: center;
    }
    
    .leader-texto p{
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
    }

    .creations-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .creations-img {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
     }
     
     .creations-img p{
         color: white;
         font-size: 30px;
         margin-top: 80px;
         margin-left: 20px;
         width: 120px;
     }
     
     .deep-earth, .arcade, .soccer, .grid , .above, .borealis, .curiosity, .fisheye{
         width: 350px;
       /* width: 654px;*/
        height: 240px;
     }
     
     .deep-earth {
         background-image: url('../img/mobile/image-deep-earth.jpg');
         background-size: 100% 70%;
         background-repeat: no-repeat;
     }
     
     .arcade {
         background-image: url('../img/mobile/image-night-arcade.jpg');
         background-size: 100% 70%;
         background-repeat: no-repeat;
     }
     
     .soccer {
         background-image: url('../img/mobile/image-soccer-team.jpg');
         background-size: 100% 70%;
         background-repeat: no-repeat;
     }
     
     .grid {
         background-image: url('../img/mobile/image-grid.jpg');
         background-size: 100% 70%;
         background-repeat: no-repeat;
     }
     
     .above {
         background-image: url('../img/mobile/image-from-above.jpg');
         background-size: 100% 70%;
         background-repeat: no-repeat;
     }
     
     .borealis {
         background-image: url('../img/mobile/image-pocket-borealis.jpg');
         background-size: 100% 70%;
         background-repeat: no-repeat;
     }
     
     .curiosity {
         background-image: url('../img/mobile/image-curiosity.jpg');
         background-size: 100% 70%;
         background-repeat: no-repeat;
     }
     
     .fisheye {
         background-image: url('../img/mobile/image-fisheye.jpg');
         background-size: 100% 70%;
         background-repeat: no-repeat;
     }

}









